/* Full Width of Screen */
.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;

    background: white;
    border-bottom: 1px solid #eaeaea;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 12px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar-item-link {
    display: inline-block;
    text-decoration: none;
    color: black;

    padding: 8px 10px;
    border-radius: 8px;
}

.navbar-item-link:hover {
    background: gray;   
}