/* Full Width of Screen */
.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    position: fixed;
    z-index: 1000;

    background: #0D1B2A;
    border-bottom: 1px solid #eaeaea;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.navbar-container {
    margin: 0 auto;
    padding: 12px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-name {
    flex: 2;
}

.navbar-name-link {
    display: inline-block;
    text-decoration: none;
    color: #E0E1DD;

    font-size: large;
    font-weight: 1000;

    padding: 8px 10px;
    border-radius: 8px;
}

.navbar-name-link:hover {
    background: gray;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 3;

    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.navbar-item-link {
    display: inline-block;
    text-decoration: none;
    color: #E0E1DD;


    padding: 8px 10px;
    border-radius: 8px;
}

.navbar-item-link:hover {
    background: gray;
}