.projectpage {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.search-container {
    width: 70%;
    justify-content: center;
    align-items: center;
}

.search-input {
    background: transparent;
    box-sizing: border-box;
    border: none;
    width: 100%;

    color: var(--text-1);
    font-size: 1rem;
    font-weight: 400;
}

.search-input:focus {
    outline: none;
    color: var(--text-0);
}

.project {
    text-decoration: none;
}

.project-link {
    text-decoration: none;
}

.project-img {
    max-height: 50px;
    max-width: 50px;
}

.project-title {
    text-decoration: none;
}